<!DOCTYPE html>
<ion-view cache-view="false" class="main">

  <ion-nav-title>
    <h1 class="fancy">Uphealth</h1>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="shareAnywhere()">
      <i class=" icon ion-ios-personadd"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <!-- <h4 class="button-clear"> ID: {{instanceId}}</h4> -->
    <ul class="flex-container">
      <li class="flex-item" ng-repeat="url in urls">

        <a ng-click="inc($index)" on-hold="showDetail($index)">
          <button class="button button-clear button-image" style="background: url({{url}}) no-repeat;">
              {{$storage.data[$index].count}}
            <!-- <img ng-src="{{url}}"/> -->
          </button>

        </a>
      </li>


    </ul>
  </ion-content>


</ion-view>
